set firewall name VLAN_1000_FIREWALL default-action 'accept'
set firewall name VLAN_1000_FIREWALL description 'RULES FOR VLAN 1000'
set firewall name VLAN_1000_FIREWALL rule 1 action 'drop'
set firewall name VLAN_1000_FIREWALL rule 1 destination address '10.100.0.0/24'
set firewall name VLAN_1000_FIREWALL rule 1 protocol 'all'
set firewall name VLAN_1000_FIREWALL rule 1 source address '10.100.20.0/24'
set interfaces ethernet eth0 address '10.100.0.3/24'
set interfaces ethernet eth0 description 'VLAN 1000'
set interfaces ethernet eth0 vrrp vrrp-group 10 preempt 'true'
set interfaces ethernet eth0 vrrp vrrp-group 10 priority '200'
set interfaces ethernet eth0 vrrp vrrp-group 10 virtual-address '10.100.0.1/24'
set interfaces ethernet eth1 address '10.100.10.3/24'
set interfaces ethernet eth1 description 'VLAN 2000'
set interfaces ethernet eth1 vrrp vrrp-group 20 preempt 'true'
set interfaces ethernet eth1 vrrp vrrp-group 20 priority '200'
set interfaces ethernet eth1 vrrp vrrp-group 20 virtual-address '10.100.10.1/24'
set interfaces ethernet eth2 address '10.100.20.3/24'
set interfaces ethernet eth2 description 'VLAN 3000'
set interfaces ethernet eth2 vrrp vrrp-group 30 preempt 'true'
set interfaces ethernet eth2 vrrp vrrp-group 30 priority '200'
set interfaces ethernet eth2 vrrp vrrp-group 30 virtual-address '10.100.20.1/24'
set interfaces ethernet eth3 address '10.100.30.3/24'
set interfaces ethernet eth3 description 'VLAN 4000'
set interfaces ethernet eth3 vrrp vrrp-group 40 preempt 'true'
set interfaces ethernet eth3 vrrp vrrp-group 40 priority '200'
set interfaces ethernet eth3 vrrp vrrp-group 40 virtual-address '10.100.30.1/24'
set interfaces loopback 'lo'
set system config-management commit-revisions '20'
set system console device ttyS0 speed '9600'
set system login user vyos authentication encrypted-password '$1$sgnjdmtN$2LOduK
p1QglChyWKqqMmp0'
set system login user vyos authentication plaintext-password ''
set system login user vyos level 'admin'
set system ntp server '0.pool.ntp.org'
set system ntp server '1.pool.ntp.org'
set system ntp server '2.pool.ntp.org'
set system package repository community components 'main'
set system package repository community distribution 'helium'
set system package repository community url 'http://packages.vyos.net/vyos'
set system syslog global facility all level 'notice'
set system syslog global facility protocols level 'debug'

